<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Series And Movies</title>
</head>
<body>
<header class="header">
    <h1>Series And Movies</h1>
</header>
<br>
<table class="table">
    <tr style="width: 100%">
        <td class="linkbutton" style="width: 50%">
            <div><a style="text-decoration: none;" href="/series">Series</a></div>
        </td>
        <td class="linkbutton" style="width: 50%">
            <a href="/movies">Movies</a>
        </td>
    </tr>
</table>

<span>


</span>
</body>
</html>