<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

<h1>Movies</h1>


<table cellpadding="5px">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>RATING</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="movie:${movies}">
        <td th:text="${movie.getId()}"> </td>
        <td th:text="${movie.getName()}"> </td>
        <td th:text="${movie.getRating()}"> </td>
        <td> <a style="text-decoration: none" th:href="@{/movies/{id}(id = ${movie.getId()})}"> >> </a> </td>
    </tr>


    </tbody>


</table>

<hr>

<form action="/movies" method="post">

    <input type="text" name="name" placeholder="Name"> <br>
    <input type="text" name="rating" placeholder="Rating"> <br>
    <button type="submit">SAVE MOVIE</button>

</form>

<hr>
<br>



<hr>
<br>
<form action="seed-movies" method="post">
    <button type="submit">SEED INITIAL MOVIES</button>
</form>


</body>
</html>