<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<header class="header">
    <h1>Movies</h1>
</header>
<br>
<hr>
<table class="table">
    <thead>
    <td align="center" style="font-size: 20px">
        ADD NEW MOVIE
    </td>
    </thead>
    <tr>
        <td align="center">
            <form action="/movies" method="post">
                <input type="text" name="name" placeholder="Name" required> <br>
                <input type="text" name="rating" placeholder="Rating" required> <br> <br>
                <button type="submit">SAVE MOVIE</button>
            </form>
        </td>
    </tr>
</table>

<hr>
<br>
<hr>

<table class="table">
    <thead class="table-head" style="text-align: left">
    <tr>
        <th class="table-head-cell">ID</th>
        <th class="table-head-cell">NAME</th>
        <th class="table-head-cell">RATING</th>
        <th class="table-head-cell">EDIT</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="movie:${movies}">
        <td th:text="${movie.getId()}"> </td>
        <td th:text="${movie.getName()}"> </td>
        <td th:text="${movie.getRating()}"> </td>
        <td> <a style="text-decoration: none" th:href="@{/movies/{id}(id = ${movie.getId()})}"> >> </a> </td>
    </tr>
    </tbody>
</table>

<hr>

<form action="seed-movies" method="post">
    <button type="submit">SEED INITIAL MOVIES</button>
</form>

</body>
</html>