<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Series</title>
</head>
<body>
<header class="header">
    <h1>Series</h1>
</header>
<br>
<hr>
<table class="table">
    <thead>
    <td align="center" style="font-size: 20px">
        ADD NEW SERIE
    </td>
    </thead>
    <tr>
        <td align="center">
            <form action="/series" method="post">
                <input type="text" name="name" placeholder="Name" required> <br>
                <input type="text" name="rating" placeholder="Rating" required> <br> <br>
                <button type="submit" style="font-size: 15px">SAVE SERIE</button>
            </form>
        </td>
    </tr>
</table>

<hr>
<br>
<hr>

<table class="table">
    <thead class="table-head" style="text-align: left">
    <tr>
        <th class="table-head-cell">ID</th>
        <th class="table-head-cell">NAME</th>
        <th class="table-head-cell">RATING</th>
        <th class="table-head-cell">EDIT</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="serie: ${series}">
        <td th:text="${serie.getId()}"></td>
        <td th:text="${serie.getName()}"></td>
        <td th:text="${serie.getRating()}"></td>
        <td> <a style="text-decoration: none" th:href="@{/series/{id}(id = ${serie.getId()})}"> >> </a> </td>
    </tr>
    </tbody>
</table>

<hr>

<form action="seed-series" method="post">
    <button type="submit">SEED INITIAL SERIES</button>
</form>

</body>
</html>