<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Single Serie</title>
</head>

<body>
<header class="header">
    <h1 th:text="${serie.getName()}"></h1>
    Rating:
    <h4 th:text="${serie.getRating()}"></h4>
</header>

<hr>

<table class="table">
    <tr>
        <td style="text-align: center">
            <form action="/series/update" method="post">
                <label>
                    <input type="number" hidden="hidden" name="id" th:value="${serie.getId()}">
                </label>
                <label>
                    <input type="text" name="name" th:value="${serie.getName()}">
                </label> <br>
                <label>
                    <input type="number" name="rating" th:value="${serie.getRating()}">
                </label> <br> <br>
                <button type="submit" style="font-size: 15px">CHANGE</button>
            </form>
        </td>
    </tr>
</table>

<hr>

<!-- I kept getting warnings (yellow) about Thymeleaf not being able to resolve the variables (it worked fine, but it bugged me, so I googled it.
        I didn't manage to resolve it for the getters down below -->

<!--/*@thymesVar id="message" type="String"*/-->
<div th:if="${message}">
    <table class="table" style="background-color: #ebfa51">
        <tr>
            <td th:text="${message}" style="text-align: center"></td>
        </tr>
    </table>
</div>

<!--/*@thymesVar id="error" type="String"*/-->
<div th:if="${error}">
    <table class="table" style="background-color: #e84f19">
        <tbody>
        <tr th:each="error:${error}">
            <td th:text="${error}" style="text-align: center" ></td>
        </tr>
        </tbody>
    </table>
</div>

<table class="table" style="background-color: #c85f3a; padding: 5px">
    <tr>
        <td style="text-align: center">
            <form action="" method="post">
                <button type="submit" style="font-size: 15px"> -- DELETE -- </button>
            </form>
        </td>
    </tr>
</table>

<hr>

<footer class="embed-footer">
    <table class="table" style="min-height: 100%">
        <tr>
            <td style="text-align: center">
                <a href="http://localhost:8080/home">HOME</a>
            </td>
        </tr>
    </table>
</footer>
</body>
</html>